

<!-- START HEADER -->

<header class="header">
    <input type="checkbox" id="toggler">
    <label for="toggler" class="fas fa-bars" title="Toggle Navigation"></label>
    <!-- <a href="#" class="logo"><i class="fas fa-pencil-alt"></i> Learn<span>Up</span></a> -->
    <a href="#" class="logo">Learn<span>Up</span></a>

    <nav class="navbar">
        <a routerLink="/home" >Inicio</a>
        <a routerLink="" >Colecciones</a>
        <a routerLink="/nivel" >Recursos</a>
        <a routerLink="" >Review</a>
        <a routerLink="/menu-recurso" >Contactanos</a>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-search" title="Search"></a>
        <a href="#" class="fas fa-heart" title="Favorite"></a>
        <a href="#" class="fas fa-user" title="User"></a>
    </div>
</header>

<!-- END HEADER -->
