

<!-- START HEADER -->

<header class="header">
    <input type="checkbox" id="toggler">
    <label for="toggler" class="fas fa-bars" title="Toggle Navigation"></label>
    <!-- <a href="#" class="logo"><i class="fas fa-pencil-alt"></i> Learn<span>Up</span></a> -->
    <a href="#" class="logo">Learn<span>Up</span></a>

    <nav class="navbar">
      <a routerLink="/" [class.active]="isActiveLink(0)" (click)="setActiveLink(0)">Inicio</a>
      <a href="#">Subir recursos</a>
      <a routerLink="/colecciones" [class.active]="isActiveLink(1)" (click)="setActiveLink(1)">Colecciones</a>
      <a routerLink="/nivel" [class.active]="isActiveLink(2)" (click)="setActiveLink(2)">Categoria</a>
      <a routerLink="/recursos" [class.active]="isActiveLink(3)" (click)="setActiveLink(3)">Recursos</a>
      <!-- <a routerLink="/menu-recurso" (click)="setActiveLink(4)">Contactanos</a> -->
    </nav>

    <div class="icons">
        <!-- <a href="#" class="fas fa-search" title="Buscar"></a>
        <a href="#" class="fas fa-heart" title="Favoritos"></a> -->
        <a routerLink="/privadasColecciones" [class.active]="isActiveLink(4)" (click)="setActiveLink(4)" class="fa-solid fa-bookmark" title="Mis colecciones"></a>
        <a [class.active]="isActiveLink(5)" (click)="navigateToLogin(); setActiveLink(5);" class="fas fa-user" title="Usuario"></a>
    </div>
</header>

<!-- END HEADER -->
