

<!-- START HEADING -->

<div class="title">
  <div class="heading">
      <h1>
          <span>r</span>
          <span>e</span>
          <span>c</span>
          <span>u</span>
          <span>r</span>
          <span>s</span>
          <span>o</span>
          <span>s</span>
      </h1>
      <div class="subtitle"><a [routerLink]="'/home'" ><< Volver</a></div>
  </div>
</div>

<!-- END HEADING -->



<!-- START RESOURCE MENU SECTION -->

<section class="review" id="review">
  <div class="swiper-container review-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        <div class="box">
            <img src="https://images.unsplash.com/photo-1485846234645-a62644f84728?q=80&w=1759&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
            <h3>videos</h3>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure
            dolorem, perferendis corporis aut maxime nobis! Fugiat, incidunt
            atque error molestias quod dicta accusamus laboriosam ab!.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div>

        <div class="swiper-slide">
        <div class="box">
            <img src="https://images.unsplash.com/photo-1585241936939-be4099591252?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
            <h3>artículos</h3>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure
            dolorem, perferendis corporis aut maxime nobis! Fugiat, incidunt
            atque error molestias quod dicta accusamus laboriosam ab!.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div>

        <div class="swiper-slide">
        <div class="box">
            <img src="https://images.unsplash.com/photo-1650884229262-130712cc13c1?q=80&w=1773&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
            <h3>infografías</h3>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure
            dolorem, perferendis corporis aut maxime nobis! Fugiat, incidunt
            atque error molestias quod dicta accusamus laboriosam ab!.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div>

        <div class="swiper-slide">
        <div class="box">
            <img src="https://images.unsplash.com/photo-1611532736576-78f7b69f4b9d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9kY2F0c3xlbnwwfHwwfHx8MA%3D%3D" alt="" />
            <h3>podcast</h3>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure
            dolorem, perferendis corporis aut maxime nobis! Fugiat, incidunt
            atque error molestias quod dicta accusamus laboriosam ab!.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

<!-- END RESOURCE MENU SECTION -->

