body{
    align-items: center;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 34%;
}
/*---------IMAGINES*/
.img-chicoSkate{
    width: 20%;
    position: absolute; /* Esto permitirá mover la imagen sin afectar el flujo del documento */
    top: 55%; /* Ajusta la posición superior */
    left: 4%; /* Ajusta la posición izquierda */
}
.img-chicoSkate2{
    width: 17%;
    position: absolute; /* Esto permitirá mover la imagen sin afectar el flujo del documento */
    top: 65%; /* Ajusta la posición superior */
    left: 83%; /* Ajusta la posición izquierda */
}
.img-chicaSkate{
    width: 17%;
    position: absolute; /* Esto permitirá mover la imagen sin afectar el flujo del documento */
    top: 70%; /* Ajusta la posición superior */
    left: 40%; /* Ajusta la posición izquierda */
}
/*--------------------*/
h1, .letras-terminos{
    color: #adb5bd;
    
}
.contenedor{
    background: #495057;
    text-align: center;
    align-items: center;
    padding: 5%;
    border-radius: 10PX;
    margin: 0%;
    
}
.contenedor-inputs{
    padding: 10px;
    border-radius: 10px;    
}


/*------------INPUT--------------*/
.input{
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 0 25px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;

}
input:focus{
    color: white; 
}
input:focus + .letras,
input:valid + .letras{
    color: #ff8fa3;
    height: 30px;
    line-height: 30px;
    transform: translate(-15px,-22px) scale(0.88);
    z-index: 1111;
}

.contenedor-correo{
    margin-top: 10px;
    display: flex;
    position: relative;
    height: 30px;
    

}
/*---------LETRAS DE CORREO Y CONTRA---------*/
.letras{
    position: absolute;
    font-size: 0.9rem;
    color: #495057;
    padding: 10px;
    margin-left: 5%;
    transition: 0.2s ease;
    pointer-events: none;
    background-color: #f8edeb;
}
/**-----------CONTRASEÑA-----*/
.contenedor-contra {
    display: flex;
    position: relative;
    margin-top: 30px;
    height: 30px;
    margin-bottom: 20px;
}

/*-------------TERMINOS Y CONDICIONES------*/
.contenedor-registrar{
    margin-left: 1%;
    margin-top: 5%;
    display: flex;
    margin-bottom: 5%;
}
.letras-registrar {
    margin-left: 2%;
    color: #adb5bd;
}
.btn-registro{
    margin-left: 2%;
    color: white;
    text-decoration: underline;
    background: transparent;
    cursor: pointer;
}

/*-----------LETRAS--------*/
.letras-iniciar{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}
.btn-ingresar{
    background: #adb5bd;
    color: #343a40;
    font-weight: bold;
    padding: 2%;
    margin-top: 7%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
