<html>
    <body>
        <div class="contenedor">
            <h1 class="letras-iniciar">Iniciar Sesión</h1>
            <div class="contenedor-inputs">
                <div class="contenedor-correo">
                    <input class="input" type="text" required>
                    <label class="letras">Correo o Usuario</label>
                </div>
    
                <div class="contenedor-contra">
                    <input class="input" type="password" required>
                    <label class="letras">Contraseña</label>
                </div>
            </div>
            <button class="btn-ingresar">Ingresar</button>
            <div class="contenedor-registrar">
                <span class="letras-registrar">No tienes cuenta? </span>
                <button class="btn-registro" type="button" (click)="navigateToRegister()">Registrarse</button>
            </div>
        </div>
    </body>
</html>
