/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --pink:  #E684AE;
    --blue: #77A1D3;
    --green: #79CBCA;
    --black: #282424;
    --light-gray: #3c3a3a;
    --medium-gray: #464242;
    --dark-gray: #666;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
