

<!-- START HOME -->

<section class="home" id="home">
  <div class="content">
      <h3>Recuros educativos</h3>
      <span>Encuentra materiales para cada nivel y materia</span>
      <p>Explora una amplia variedad de recursos educativos organizados por nivel y materia. Ya seas docente o estudiante, nuestra plataforma te ofrece herramientas y materiales diseñados para mejorar la experiencia de aprendizaje.</p>
      <a routerLink="/recursos" class="btn">Explorar Ahora</a>
  </div>
</section>

<!-- END HOME -->



<!-- START ABOUT SECTION -->
<section class="about" id="about">

  <h1 class="heading"> <span> acerca de</span> nosotras </h1>

  <div class="row">

      <div class="video-container">
          <video src="/assets/img/vid1.mp4" autoplay loop muted></video>
          <h3>los mejores recursos educativos</h3>
      </div>

      <div class="content">
          <h3>¿Por qué elegirnos?</h3>
          <p>Nos dedicamos a mejorar la educación a través de LearnUp que ofrece recursos educativos abiertos. Esta plataforma está diseñada tanto para docentes como para estudiantes, facilitando el acceso a materiales de alta calidad y fomentando un aprendizaje interactivo y colaborativo.</p>
          <!-- <p>Nuestra app proporciona una variedad de recursos, incluyendo videos, actividades interactivas y materiales descargables, todos creados para enriquecer la experiencia educativa y apoyar a los educadores en su labor diaria.</p> -->
          <a href="#" class="btn">leer más</a>
      </div>

  </div>

</section>

<!-- END ABOUT SECION -->
