

<!-- START HOME -->

<section class="home" id="home">
  <div class="content">
      <h3>Recuros educativos</h3>
      <span>nivel y materia</span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptate perferendis omnis! Id illum quam magni distinctio nostrum, assumenda tenetur?</p>
      <a href="#" class="btn">Subir ahora</a>
  </div>
</section>

<!-- END HOME -->



<!-- START ABOUT SECTION -->
<section class="about" id="about">

  <h1 class="heading"> <span> acerca de</span> nosotras </h1>

  <div class="row">

      <div class="video-container">
          <video src="/assets/img/vid1.mp4" autoplay loop muted></video>
          <h3>los mejores recursos educativos</h3>
      </div>

      <div class="content">
          <h3>¿por qué elegirnos?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem cumque sit nemo pariatur corporis perspiciatis aspernatur a ullam repudiandae autem asperiores quibusdam omnis commodi alias repellat illum, unde optio temporibus.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ea est commodi incidunt magni quia molestias perspiciatis, unde repudiandae quidem.</p>
          <a href="#" class="btn">leer más</a>
      </div>

  </div>

</section>

<!-- END ABOUT SECION -->
