/*body{
    /*background: url('/assets/img/esqueleto.jpg') no-repeat center center fixed; 
    background-size: 20% 60%;*/


/*---------------IMAGENES-----------------*/
.imagen-esqueleto{
    width: 30%;

}
.imagen-ola{
    width: 50%;
    position: absolute; /* Esto permitirá mover la imagen sin afectar el flujo del documento */
    top: 70%; /* Ajusta la posición superior */
    left: -7%; /* Ajusta la posición izquierda */
    z-index: -1; /
}
.chico-surf{
    width: 20%;
    position: absolute; /* Esto permitirá mover la imagen sin afectar el flujo del documento */
    top: 70%; /* Ajusta la posición superior */
    left: 5%; /* Ajusta la posición izquierda */
    z-index: -1; /
}
form{
    align-items: center;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 34%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #495057;
    border-radius: 10px;
}
h1, .letras-terminos{
    color: #adb5bd;
    
}
a{
    text-decoration: underline;
}
.contenedor{
    text-align: center;
    align-items: center;
    padding: 5%;
    border-radius: 10PX;
    height: 86vh;
    margin: 0%;
    
}
.contenedor-inputs{
    padding: 10px;
    border-radius: 10px;    
}


/*------------INPUT--------------*/
/* Estilos base para los inputs */
.input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 0 25px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    transition: border-color 0.2s ease; 
    background: transparent;
}

/* Estilo para cuando hay un error */
.input.error {
    border-color: #e09f3e; /* Cambia el color del borde si hay un error */
}

/* Estilo para cuando el input está enfocado */
.input:focus {
    color: white; /* Cambia el color del texto cuando el input está enfocado */
    border: 1px solid black; /* Cambia el color del borde cuando el input está enfocado */
}


 .contenedor-tipocuenta{
    display: flex;
    position: relative;
    /*margin-top: 10px;*/
    height: 30px;
}


/**-----------CONTRASEÑA-----*/
.contenedor-correo, .contenedor-nombre,.contenedor-contra, .contenedor-repeatcontra {
    display: flex;
    position: relative;
    margin-top: 35px;
    height: 30px;
    margin-bottom: 20px;
}

/*-------------TERMINOS Y CONDICIONES------*/
.checkbox{
    width: 5%;
}
.contenedor-check{
    margin-left: 5%;
    margin-top: 10%;
    display: flex;
}
.letras-terminos {
    margin-left: 2%;
}

/*-----------LETRAS--------*/
.letras-iniciar{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    color: #adb5bd;
}
button{
    color: #343a40;
    font-weight: bold;
    background: #adb5bd;
    padding: 2%;
    margin-top: 3%;
    width: 95%;
    border-radius: 20px;
    cursor: pointer;
}

/*-----------------MENSAJES DE ERROR----------*/
.error {
    color: #e09f3e;
    font-size: x-small; 
    position: absolute;
    margin: 0%;
    font-size: 0.9rem;
    padding: 0px;
    margin-left: 5%;
    transition: 0.2s ease;
    pointer-events: none;
    background-color: transparent; 
    margin-bottom: 0; /* Ajusta si es necesario */
    top: 40px; /* Ajusta este valor según tus necesidades */
  }
  
  
