/*body{
    /*background: url('/assets/img/esqueleto.jpg') no-repeat center center fixed; 
    background-size: 20% 60%;*/


/*---------------IMAGENES-----------------*/
.imagen-ola{
    width: 54%;
    position: absolute; /* Esto permitirá mover la imagen sin afectar el flujo del documento */
    top: 53%; /* Ajusta la posición superior */
    left: -7%; /* Ajusta la posición izquierda */
    z-index: -1; /
}
.chico-surf{
    width: 20%;
    position: absolute; /* Esto permitirá mover la imagen sin afectar el flujo del documento */
    top: 55%; /* Ajusta la posición superior */
    left: 4%; /* Ajusta la posición izquierda */
    z-index: -1; 
}
form{
    align-items: center;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 34%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #495057;
    border-radius: 10px;
}
h1, .letras-terminos{
    color: #adb5bd;
    
}
a{
    text-decoration: underline;
}
.contenedor{
    text-align: center;
    align-items: center;
    padding: 5%;
    border-radius: 10PX;
    margin: 0%;
    
}
.contenedor-inputs{
    padding: 10px;
    border-radius: 10px;    
}
/*------------TIPO DE CUENTA--------*/
#select{
    display: flex;
    text-align: left;
    /*margin-top: 10px;*/
    cursor: pointer;
}
#select i {
    margin-left: 25%;
}
#select.active, #select:hover{
    box-shadow: 0px 5px 5px rgb(65, 64, 64);
    border: 2px solid #e09f3e;
}
.contenedor-tipocuenta{
    width: 100%;
    padding: 2%;
    
}
.contenedor-tipocuenta p {
    margin-right: 2%;
    color: #6c757d;
}
.contenedor-tipocuenta p.blanco {
    color: white; /* Color blanco para el texto */
}
.icono-flecha{
    position: relative;
    margin-top: 2%;
    left: 32%;
    width: 100%;
}
/*---------OPCINES DE SELECT------*/
.opciones{
    background: #adb5bd;
    border-radius: 10px;
    z-index: 100;
    width: 100%;
    display: none;
    text-align: right;
    flex-direction:column;
    margin-top: 1%;
}
.opciones.active{
    display: block;
    
}
.opcion {
    display: block;
    width: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 5px; 
    transition: .2s ease all;
    padding: 3% 5% 3% 0;
}
.contenedor-a {
    border-radius: 10px;
    cursor: pointer;
}
.contenedor-a:hover{
    width: 100%;
    background: white ;
}
/*------------INPUT--------------*/

.input-container{
    margin-top: 10px;
}


/* Estilos base para los inputs */
.input {
    color: white;
    /* display: block; */
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 0 25px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
}

/* Estilo para cuando hay un error */
.contenedor-error {
    bottom: -40px;
    left: 0;
  }
  .error {
    color: #e09f3e;
    font-size: 0.9rem;
    margin-left: 5%;
    text-align: left;
  }

/* Estilo para cuando el input está enfocado */
.input:focus {
    color: white; /* Cambia el color del texto cuando el input está enfocado */
    border-color: #e09f3e; /* Cambia el color del borde cuando el input está enfocado */
}

/*-------------TERMINOS Y CONDICIONES------*/
.checkbox{
    width: 5%;
}
.contenedor-check{
    margin-left: 5%;
    margin-top: 10%;
    display: flex;
}
.letras-terminos {
    margin-left: 2%;
}

/*-----------LETRAS--------*/
.letras-iniciar{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    color: #adb5bd;
}
button{
    color: #343a40;
    font-weight: bold;
    background: #adb5bd;
    padding: 2%;
    margin-top: 3%;
    width: 95%;
    border-radius: 20px;
    cursor: pointer;
}


  
