<form [formGroup]="FormularioRegistro" (ngSubmit)="onSubmit()">
    <div class="contenedor">
      <h1 class="letras-iniciar">Formulario de Registro</h1>
      <div class="contenedor-inputs">
        <div class="contenedor-tipocuenta">
          <input class="input" type="text" required>
          <label class="letras">Tipo de cuenta</label>
        </div>
        <div class="contenedor-nombre">
          <input formControlName="nombre" class="input" type="text" required>
          <label class="letras">Nombre de Usuario</label>
          <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="error">
            <div *ngIf="nombre?.errors?.['required']">* El nombre es obligatorio.</div>
            <div *ngIf="nombre?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
          </div>
        </div>
        <div class="contenedor-correo">
          <input formControlName="correo" class="input" type="text" required>
          <label for="correo" class="letras">Correo</label>
          <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="error">
            <div *ngIf="correo?.errors?.['required']">* El correo es obligatorio.</div>
            <div *ngIf="correo?.errors?.['email']">El correo no es válido.</div>
          </div>
        </div>
        <div class="contenedor-contra">
          <input formControlName="password" class="input" type="password" required>
          <label class="letras">Contraseña</label>
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error">
            <div *ngIf="password?.errors?.['required']">* La contraseña es obligatoria.</div>
            <div *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
          </div>
        </div>
        <div class="contenedor-repeatcontra">
          <input formControlName="repeatpassword" class="input" type="password" required>
          <label class="letras">Repetir contraseña</label>
          <div *ngIf="repeatpassword?.invalid && (repeatpassword?.dirty || repeatpassword?.touched)" class="error">
            <div *ngIf="repeatpassword?.errors?.['required']">* Repetir contraseña es obligatorio.</div>
            <div *ngIf="repeatpassword?.errors?.['minlength']">Repetir contraseña debe tener al menos 8 caracteres.</div>
          </div>
        </div>
      </div>
  
      <div class="contenedor-check">
        <input class="checkbox" type="checkbox">
        <a href="https://www.google.com/?hl=es" class="letras-terminos">Términos y condiciones</a> 
      </div>
  
      <button [disabled]="FormularioRegistro.invalid" type="submit">Registrar</button>
      <button class="btn-registro" type="button" (click)="navigateToLogin()">Cancelar</button>
    </div>
  </form>
  