<html>
  <head>
    
  </head>
  <body>
    <img class="imagen-ola" src="/assets/img/Recurso 1.png" alt="">
    <img class="chico-surf" src="/assets/img/surf.png" alt="">
    <form [formGroup]="FormularioRegistro" (ngSubmit)="onSubmit()">
      <div class="contenedor">
        <h1 class="letras-iniciar">Formulario de Registro</h1>
        <!-- <img class="imagen-esqueleto" src="/assets/img/esqueleto-2.png" alt=""> -->
        <div class="contenedor-inputs">
          <div class="contenedor-tipocuenta">
            <input class="input" type="text" placeholder="Tipo de Cuenta">
          </div>
          <div class="contenedor-nombre">
            <input formControlName="nombre" class="input" type="text" placeholder="Nombre de Usuario">
            <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="error">
              <div *ngIf="nombre?.errors?.['required']">* El nombre es obligatorio.</div>
              <div *ngIf="nombre?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
            </div>
          </div>
          <div class="contenedor-correo">
            <input formControlName="correo" class="input" type="text" placeholder="Correo">
            <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="error">
              <div *ngIf="correo?.errors?.['required']">* El correo es obligatorio</div>
              <div *ngIf="correo?.errors?.['email']">* Campo requerido</div>
            </div>
          </div>
          <div class="contenedor-contra">
            <input formControlName="password" class="input" type="password" placeholder="Contraseña">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error">
              <div *ngIf="password?.errors?.['required']">* La contraseña es obligatoria.</div>
              <div *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
            </div>
          </div>
          <div class="contenedor-repeatcontra">
            <input formControlName="repeatpassword" class="input" type="password" placeholder="Repetir Contraseña">
            <div *ngIf="repeatpassword?.invalid && (repeatpassword?.dirty || repeatpassword?.touched)" class="error">
              <div *ngIf="repeatpassword?.errors?.['required']">* Repetir contraseña es obligatorio.</div>
              <div *ngIf="repeatpassword?.errors?.['minlength']">Repetir contraseña debe tener al menos 8 caracteres.</div>
            </div>
          </div>
        </div>
    
        <div class="contenedor-check">
          <input class="checkbox" type="checkbox">
          <a href="https://www.google.com/?hl=es" class="letras-terminos">Términos y condiciones</a> 
        </div>
    
        <button [disabled]="FormularioRegistro.invalid" type="submit">Registrar</button>
        <button class="btn-registro" type="button" (click)="navigateToLogin()">Cancelar</button>
      </div>
    </form>
  </body>  
</html>